.list-checklists__container,
.list-checklists__container-main,
.list-checklists__container-page {
  display: flex;
  flex-direction: column;
}

.list-checklists__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-checklists__name {
  display: flex;
  flex-direction: row;
  width: 667px;
  height: 70px;
  background-color: #f4a48d;
  padding-left: 35px;
  padding-right: 35px;
  align-items: center;
  justify-content: space-between;
}
.list-checklists__title,
.list-checklists__sort {
  color: white;
  font-size: 20px;
  font-weight: 800;
}

.list-checklists__listItem {
  display: grid;
  grid-template-columns: 1fr 13fr 1.5fr 1.5fr;
  align-items: center;
  border: 1px dashed #ccd1d0;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 1.3em;
  height: 70px;
}
.list-checklists__item {
  font-size: 12px;
  font-weight: 600;
}

.list-checklists__block {
  width: 667px;
}

.list-checklists__breadcrumb {
  display: flex;
  flex-direction: row;
}

.list-checklists__btn-edit,
.list-checklists__btn-delite {
  height: 40px;
  width: 40px;
  background-color: #f4a48d;
  color: white;
}

.list-checklists__buttonpic {
  width: 22px;
  height: 22px;
  text-align: center;
}

.list-checklists__enterBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 667px;
  height: 256px;
  background-color: rgba(244, 164, 141, 0.18);
  margin-bottom: 60px;
}
.list-checklists__inputfield {
  display: flex;
  flex-direction: row;
  align-items: center
}
.list-checklists__lable {
  padding-right: 34px;
  font-size: 16px;
  font-weight: 600;
}
.list-checklists__button {
  width: 280px;
  height: 47px;
  font-size: 16px;
  font-weight: 800;
}