.page__container {
    display: flex;
    flex-direction: column;
}
.main-block__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.checklist__name {
    width: 667px;
    height: 54px;
    background-color: #F4A48D;
    color: white;
    font-size: 20px;
    font-weight: 800;
    padding-left: 35px;
    padding-top: 15px;
}
.checklist__enterBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 667px;
    height: 256px;
    background-color: rgba(244, 164, 141, 0.18);
    margin-bottom: 60px;
}
.checklist__inputfield {
    display: flex;
    flex-direction: row;
    align-items: center
}
.checklist__lable {
padding-right: 34px;
font-size: 16px;
font-weight: 600;
}

.checklist__button {
    width: 280px;
    height: 47px;
    font-size: 16px;
font-weight: 800;
}


.checklist__listItem {
    display: grid;
    grid-template-columns: 1fr 13fr 1.5fr 1.5fr;
    align-items: center;
    border: 1px dashed #CCD1D0;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 1.3em;
}
.checklist__item {
    font-size: 12px;
    font-weight: 600;
}
.checklist__btn-edit, .checklist__btn-delite {
    height: 40px;
    width: 40px;
    background-color: #F4A48D;
    color:white;
}




// ЧЕК_ЛИСТ


.container {
    width: 667px;
    margin: auto;
    box-shadow: 0 0 2px hsla(0,0%,0%,0.2); 
    // border-radius:6px;
    background-color:rgba(244, 164, 141, 0.18);
  }
  
  @keyframes shake {
    from {left: -2px;}
    to   {left: 2px;}
  }
  
  @keyframes birth {
    from {height:0;}
    to   {height: 50px;}
  }
  
  .task--row {
    height: 50px;
    padding:0 20px;
    line-height:50px;
  }
  
  .task__head {
    background: #F4A48D;
    color: white;
    font-size: 20px;
    font-weight:800;
    height: 70px;
    padding-top: 13px;
    // border-top-left-radius:6px;
    // border-top-right-radius:6px;
  }
  

  // ___________________

  .check {
    // position: relative;
    // flex-shrink: 0;
    // width: 1.5rem;
    // height: 1.5rem;
    // border: 1px solid #727272;
    // border-radius: 2px;
    // cursor: pointer; 
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
    border: 1px solid #F4A48D;
  }
  
  .check:before {
    content: '✓';
    position: absolute;
    top: 39%;
    left: 49%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    opacity: 0; 
  }
  
  .check._active:before {
    opacity: 1;
    color: #F4A48D; 
  }
  
  .row {
    display: grid;
    grid-template-columns: 1fr 8fr 2fr 2fr;
    justify-items: start;
    align-items: center;
    border: 1px dashed #CCD1D0;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 1.3em
  }

  .rowBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .todo__inp {
    width: 350px;
    height: 50px;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .btn-add {
    width: 280px;
    height: 47px;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 50px;
  }

  .todo__label {
    padding-right: 34px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .btn-edit, .btn-del {
width: 75px;
height: 40px;
  }
  .inp-task._completed {
    color: #6a6a6a;
    text-decoration: line-through; 
  }