.page__container {
    display: flex;
    flex-direction: column;
}
.main-block__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.inbox__name {
    width: 667px;
    height: 54px;
    background-color: #F4A48D;
    color: white;
    font-size: 20px;
    font-weight: 800;
    padding-left: 35px;
    padding-top: 15px;
}
.inbox__enterBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 667px;
    height: 256px;
    background-color: rgba(244, 164, 141, 0.18);
}
.inbox__inputfield {
    display: flex;
    flex-direction: row;
    align-items: center
}
.inbox__lable {
padding-right: 34px;
font-size: 16px;
font-weight: 600;
}

.inbox__button {
    width: 280px;
    height: 47px;
    font-size: 16px;
font-weight: 800;
}

