.page__container {
    display: flex;
    flex-direction: column;
}

.main-block__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.quick__name {
    width: 667px;
    height: 54px;
    background-color: #F4A48D;
    color: white;
    font-size: 20px;
    font-weight: 800;
    padding-left: 35px;
    padding-top: 15px;
}


.quick__inputfield {
    display: flex;
    flex-direction: row;
    align-items: center
}

.quick__lable {
    padding-right: 34px;
    font-size: 16px;
    font-weight: 600;
}

.quick__button {
    width: 280px;
    height: 47px;
    font-size: 16px;
    font-weight: 800;
}


.quick__listItem {
    display: grid;
    grid-template-columns: 1.5fr 1fr 11fr 1.5fr 1.5fr;
    align-items: center;
    border: 1px dashed #CCD1D0;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 1.3em;
}

.quick__item {
    font-size: 12px;
    font-weight: 600;
}

.quick__edit__btn,
.quick__delete__btn  {
    height: 40px;
    width: 40px;
    background-color: #F4A48D;
    color: white;
}