.projects__container,
.projects__container-main,
.projects__container-page {
  display: flex;
  flex-direction: column;
}

.projects__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projects__name {
  display: flex;
  flex-direction: row;
  width: 667px;
  height: 70px;
  background-color: #f4a48d;
  padding-left: 35px;
  padding-right: 35px;
  align-items: center;
  justify-content: space-between;
}
.projects__title,
.projects__sort {
  color: white;
  font-size: 20px;
  font-weight: 800;
}

.projects__listItem {
  display: grid;
  grid-template-columns: 1.5fr 1fr 11fr 1.5fr 1.5fr;
  align-items: center;
  border: 1px dashed #ccd1d0;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 1.3em;
  height: 70px;
}
.projects__item {
  font-size: 12px;
  font-weight: 600;
}

.projects__block {
  width: 667px;
}

.projects__breadcrumb {
  display: flex;
  flex-direction: row;
}

.projects__btn-edit,
.projects__btn-delite {
  height: 40px;
  width: 40px;
  background-color: #f4a48d;
  color: white;
}

.projects__buttonpic {
  width: 22px;
  height: 22px;
  text-align: center;
}
