.page__menu {
  list-style-type: none;
  text-transform: uppercase;
}

.menu__list {
  width: 309px;
  outline: none;
}

.menu__item {
  padding: 15px;
  display: block;
  background: #F4A48D;
  margin-bottom: 20px;
  display: block;
  font-weight: 800;
  letter-spacing: 1px;
}

.menu__arrow {
  margin-top: 2px;
}

.menu__item_selected {
  background: #fdc2b1;
}

.menu__item_with_submenu {
  letter-spacing: 1.1px;
  font-weight: 500;
  margin-top: 10px;
}

.menu__item_submenu {
  display: none;
  margin-top: 8px;
  letter-spacing: 1.1px;
  font-weight: 500;
}

.menu__item_submenu li {
  margin-bottom: 3px;
}

.menu__item_with_submenu.menu__item_submenu_selected+.menu__item_submenu {
  display: block;
}

li {
  display: block;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  color: #FFFFFF;
  outline: none !important;
}

// li:not(.nav_active):hover a {
//   color: #eee
// }