*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  min-height: 100%;
  line-height: 1;
  background: white;
  font-size: 14px;
  color: #757575;
  font-weight: 500;
  font-family: Montserrat;
}

p {
  word-break: break-word;
  max-width: 470px;
  width: 260px;
  height: 15px;

}

/* ---------------------------------------------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}

/* ---------------------------------------------------------------------------- */