.btn{
    width: 100%;
    padding: 9px 10px;
    // font-size: 18px;
    font-weight: 600; 
    border: 0px;
    background:  #F4A48D;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
  }

  .btn:hover{
    background: #fdc2b1;
  }

