.category-home {
    background: color #fee800;;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.category-learning {
    background-color:#FFCB79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.category-job {
    background-color: #FF947A;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.category-self-development {
    background-color: #DECCAA;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.category-health {
    background-color: #CBD666;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.category-recreation {
    background-color: #8BDEF8;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.category-hobby {
    background-color: #B5E1EE;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.category-ideas {
    background-color: #95FCCF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.category-household {
    background-color: #FF7D97;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.category-sport {
    background-color: #AFBEFA;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.category-self-care {
    background-color: #FBB4DA;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}