.check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
  }

  .check input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .checkmark{
    width: 15px;
    height: 15px;
    border: 1px solid #F4A48D;
    display: block;
    position: relative;
  }

  .checkmark:before{
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
  }

  .check input[type="checkbox"]:checked ~ .checkmark{
    background: #F4A48D;
  }
  .check input[type="checkbox"]:checked ~ .checkmark:before{
    display: block;
  }
  