

.home-tag {
    background-color:#ffc423;
    border-radius: 15px;
    padding: 7px;
    content: "@ДОМ";
}

.phone-tag {
    background-color:#FBB4DA;
    border-radius: 15px;
    padding: 7px;
    content: "@ТЕЛЕФОН";
}

.outdoors-tag {
    background-color:#CBD666;
    border-radius: 15px;
    padding: 7px;
    content: "@ВНЕ ДОМА";
}

.computer-tag {
    background-color:#BEEAEA;
    border-radius: 15px;
    padding: 7px;
}

.job-tag {
    background-color:#B5E1EE;
    border-radius: 15px;
    padding: 7px;
}

.delegating-tag {
    background-color:#fca0b2;
    border-radius: 15px;
    padding: 7px;
}

.city-tag {
    background-color:#95FCCF;
    border-radius: 15px;
    padding: 7px;
}

.school-tag {
    background-color:#DECCAA;
    border-radius: 15px;
    padding: 7px;
}

.kindergarten-tag {
    background-color:#FFCB79;
    border-radius: 15px;
    padding: 7px;
}

.minsk-tag {
    background-color:#8BDEF8;
    border-radius: 15px;
    padding: 7px;
}