@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url './assets/fonts/Montserrat-Medium.ttf';
    font-weight: 500;
    font-style: normal;
  }
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url './assets/fonts/Montserrat-SemiBold.ttf';
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat', sans-serif;
    src: url './assets/fonts/Montserrat-ExtraBold.ttf';
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat', sans-serif;
    src: url './assets/fonts/Montserrat-Black.ttf';
    font-weight: 900;
    font-style: normal;
  }