.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #F4A48D;
    height: 33px;
    margin-top: 30px;
}

.footer__text {
    color: white;
    margin: 11px auto;
    text-align: center;
}