.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #F4A48D;
}
.header__logopic {
    height: 54px;
    margin-right: 1em;
    vertical-align: middle;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 400px;
    font-size: 30px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    ;
}
.header__button {
    height: 40px;
    width: 40px;
    background-color: white;
    color:#F4A48D;
    // font-size: 30px;
    // font-weight: 600;
    // vertical-align: middle;
}

.header__buttonpic {
    width: 22px;
    height: 22px;
    text-align: center;
}
// .header__buttonpic-edit {
//     width: 22px;
//     height: 22px;
//     text-align: center;
    // background-image: url('/assets/images/pencil_white.png');
    // background-repeat: no-repeat;
// }

// .header__buttonpic-delite {
//     width: 22px;
//     height: 22px;
//     text-align: center;
    // background-image: url('/assets/images/delite_white.png');
    // background-repeat: no-repeat;
// }

.header__labelCounter {
    // width: 1000px;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.header__counter {
    // padding-top: 35px;
    font-weight: 800;
    font-size: 22px;
    background-color: white;
    color:#F4A48D
}