.input {
    outline: none;
  border: 1px solid #d5dbd9;
//   font-size: 15px;
//   padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.input:focus {
  border: 1px solid #F4A48D;
}