#overlay2 {
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
    -webkit-animation: fade 0.8s;
    -moz-animation: fade 0.8s;
    animation: fade 0.8s;
    overflow: auto;
    transition: all 0.5s ease-in-out;
  }

  

  /* модальный блок */
  .popup2 {
    top: 15%;
    left: 0;
    right: 40px;
    margin: 0 auto;
    width: 65%;
    min-width: 260px;
    max-width: 667px;
    // height: 431px;
    position: absolute;
    // padding: 1rem;
    // box-shadow: 0 0 10px 4px rgba(64, 86, 98, 0.8);
    background: #FDEFEA;
    z-index: 1000;
    // border-radius: 4px;
    transition: all 0.5s ease-in-out;
  }
  
  /* кнопка закрытия */
  .close2 {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    background-color: #F4A48D;
    color:#ffffff;
    position: absolute;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    // background-color: #3919af;
    // -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    //   0 2px 10px 0 rgba(0, 0, 0, 0.12);
    // -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    //   0 2px 10px 0 rgba(0, 0, 0, 0.12);
    // box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.16),
    //   0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    outline: none;
  }
  .close2:before {
    // color: #000;
    // color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-weight: 400;
    font-size: 25px;
    // text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    // -webkit-transition: all 0.5s;
    // -moz-transition: all 0.5s;
    // transition: all 0.5s;
  }
  /* кнопка закрытия при наведении */
  .close2:hover {
    color: #fdc2b1;
  }


  .window_name2 {
    display: flex;
    flex-direction: row;
    width: 667px;
    height: 74px;
    background-color: #F4A48D;
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    padding-left: 50px;
    // padding-top: 15px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    border: 1px dashed #ffffff;
  border-top: none;
  border-right: none;
  border-left: none;
  }

  .stage_name2 {
    display: flex;
    flex-direction: row;
    width: 667px;
    height: 74px;
    background-color: #F4A48D;
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    padding-left: 50px;
    // padding-top: 15px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    border: 1px dashed #ffffff;
  border-top: none;
  border-right: none;
  border-left: none;
  }
  .modal_enterBlock2, .modal_enterBlock1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 417px;
    
  }

  .modal__inputfield2 {
    display: flex;
    flex-direction: row;
    align-items: center
}
.modal__lable2 {
    margin-right: 34px;
    font-size: 16px;
    font-weight: 600;
    width: 160px;
    }

#project_context2 {
    width: 356px;
    height: 30px;
}

#date_type2 {
  width: 356px;
  height: 30px;
}
  .modal__button2 {
    width: 280px;
    height: 47px;
    font-size: 16px;
font-weight: 800;
}

.modal__button-plus_1, .modal__button-plus_2 {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
}
  
.stages__block {
  width: 667px;
  background-color:#ffffff;
}

.stages__listItem {
  display: grid;
  grid-template-columns: 1.5fr 1fr 8.5fr 4fr 1.2fr;
  align-items: center;
  border: 1px dashed #CCD1D0;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 1.3em;
  height: 70px;
  justify-items: start;
}

.stages__item {
    
  font-size: 12px;
  font-weight: 600;
  
}

.stages__btn-edit, .stages__btn-delite {
  height: 40px;
  width: 40px;
  background-color: #F4A48D;
  color:white;
}

  @media (max-width: 456px) {
    .popup {
      top: 2rem;
    }
    
    .details {
      width: 70%;
    }
    .details a {
      font-size: calc(10px + (2 + 2 * 0.7) * ((100vw - 320px) / 744));
    }
  }

  